<!-- na hasiok -->
<!-- <tr id="<%= user.id %>">
  <td><b><%= user.name %></b></td>
  <td><b><%= user.surname %></b></td>
  <td><b><%= user.email %></b></td>
  <td><%= user.grade.name unless user.grade.nil? %></td>
  <td>
    <%= link_to 'Edytuj',  edit_user_path(user), remote: true %>
    <%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć tego użytkownika?' } %>
  </td>
</tr> -->
